@font-face {
    font-family: "Nina";
    src: url("Pacifico-Regular.ttf");
}

body {
    margin: auto;
    background-color: #a0ae81;
    width: 500px;
    height: 500px;
}

body > header > nav {
    position: relative;
    display: flex;
    gap: 30px;
    font-family: Nina;
    top:37px;
}

body > header > nav > a {
    color: white;
    text-decoration: none;
}

body > header > nav > a:hover {
    color: #6a813b;
    text-decoration: none;
}

body > div.pozadina > div > h1 {
    color: white;
    font-family: Nina;
    font-size: 66px;
    position: relative;
    top: 3318px;
    left: -535px;
    text-decoration: underline;
    background-color: #6a813b;
    width: 1458px;
    text-align: center;
}

.bubble2 {
    background: url("images/58adf26ee612507e27bd3c33.png") no-repeat;
    height: 322px;
    width: 345px;
    display: block;
    position: relative;
    left: -303px;
    background-size: 100%;
    top: 3373px;
}

body > div.pozadina > div > p:nth-child(3) {
    position: relative;
    top: 3070px;
    left: -289px;
    font-family: 'Nina';
    width: 300px;
    text-align: center;
}

.slika17 {
    background: url("images/orce.jpg") no-repeat;
    height: 162px;
    width: 371px;
    display: block;
    position: relative;
    background-size: 100%;
    top: 2865px;
    left: 210px;
    border-radius: 40px;

}

.slika18 {
    background: url("images/580b585b2edbce24c47b276f.png") no-repeat;
    width: 392px;
    height: 136px;
    display: block;
    position: relative;
    background-size: 50%;
    top: 2800px;
    left: 128px;
}

.slika19 {
    background: url("images/orcelogo.png") no-repeat;
    width: 236px;
    height: 213px;
    display: block;
    position: relative;
    top: 2859px;
    left: 584px;
    border-radius: 37px;
}

.bubble3 {
    background: url("images/58adf26ee612507e27bd3c33.png") no-repeat;
    height: 493px;
    width: 366px;
    display: block;
    position: relative;
    left: 125px;
    background-size: 100%;
    top: 2657px;
    transform: scaleX(-1);
}

body > div.pozadina > div > p:nth-child(5) {
    font-family: Nina;
    position: relative;
    top: 2191px;
    width: 296px;
    text-align: center;
    left: 167px;

}

.slika15 {
    background: url("images/finki.png") no-repeat;
    height: 225px;
    width: 225px;
    display: block;
    top: 2030px;
    position: relative;
    left: -217px;
    border-radius: 42px;
}

.slika16 {
    background: url("images/favpng_laptop-hp-elitebook-intel-core-i5-intel-core-i7-intel-hd-and-iris-graphics.png") no-repeat;
    position: relative;
    display: block;
    width: 411px;
    height: 161px;
    background-size: 60%;
    top: 1922px;
    left: -341px;
}

.slika20 {
    background: url("images/favpng_student-table-study-skills-tutor-education.png") no-repeat;
    width: 255px;
    height: 161px;
    position: relative;
    display: block;
    background-size: 100%;
    top: 1406px;
    left: 576px;
}

body > div.teksthobi > h1 {
    color: white;
    font-family: Nina;
    position: relative;
    top: 35px;
    left: -535px;
    width: 50px;
    text-decoration: underline;
    font-size: 60px;
    background-color: #6a813b;
    width: 1458px;
    text-align: center;
}

.bubble4 {
    background: url("images/58adf277e612507e27bd3c34.png") no-repeat;
    width: 427px;
    height: 450px;
    position: relative;
    display: block;
    background-size: 100%;
    top: 82px;
    left: -1px;
}

body > div.teksthobi > p:nth-child(3) {
    position: relative;
    font-family: Nina;
    text-align: center;
    top: -318px;
    width: 346px;
    left: 39px;
}

.slika21 {
    background: url(images/343007583_1913207295723344_1776050938949232499_n.jpg) 0px -45px no-repeat;
    height: 304px;
    width: 270px;
    position: relative;
    display: block;
    background-size: 100%;
    top: 1367px;
    border-radius: 30px;
    left: -349px;
}

.slika22 {
    background: url(images/FB_IMG_1682499765115.png) 0px -45px no-repeat;
    height: 304px;
    width: 270px;
    position: relative;
    display: block;
    background-size: 100%;
    top: 1059px;
    border-radius: 30px;
    left: 530px;
}

.slika23 {
    background: url(images/342026721_174285268860138_2840750297331240069_n.jpg) 0px -71px no-repeat;
    height: 261px;
    width: 506px;
    position: relative;
    display: block;
    background-size: 100%;
    top: 1237px;
    border-radius: 30px;
    left: -331px;
}

.slika24 {
    background: url("images/580b585b2edbce24c47b2480.png") no-repeat;
    width: 541px;
    height: 213px;
    position: relative;
    display: block;
    background-size: 80%;
    top: 1194px;
    left: -303px;
}

.bubble5 {
    background: url("images/58adf26ee612507e27bd3c33.png") no-repeat;
    height: 387px;
    width: 415px;
    display: block;
    position: relative;
    left: 365px;
    background-size: 100%;
    top: 732px;
    transform: scaleX(-1);
}

body > div.teksthobi > p:nth-child(5) {
    font-family: Nina;
    text-align: center;
    position: relative;
    top: -157px;
    width: 343px;
    left: 400px;
}

.bubble6 {
    background: url("images/5f42d6aca3fa5400048a03fd.png") no-repeat;
    width: 430px;
    height: 158px;
    position: relative;
    display: block;
    top: 1936px;
    transform: scaleX(-1);
    background-size: 100%;
    left: -85px;
}

body > div.teksthobi > p:nth-child(7) {
    display: block;
    font-family: Nina;
    text-align: center;
    top: -219px;
    background-color: white;
    position: relative;
    left: -36px;
    width: 344px;
}

body > div.teksthobi > p:nth-child(6) {
    position: relative;
    top: -2000px;

}

body > div.teksthobi, body > div.teksthobi > p:nth-child(4), body > div.pozadina > div {
    height: 0px;
    position: relative;
    top: -2000px;
}
.pozadina{
    height: 2000px;
}
body > footer > div > ul > a {
    color: white;
    font-family: Nina;
    text-decoration: none;
    position: relative;
    font-size: x-large;
    top: 134px;
    left: 425px;
    width: 272px;
    display: block;
    text-align: center;
    border-style: dashed;
    border-radius: 24px;
}
body > footer > div > ul > a:hover{
    color: #6a813b;
}
.slika25{
    background: url("images/580b585b2edbce24c47b289c.png") no-repeat;
    width: 504px;
    height: 290px;
    position: relative;
    display: block;
    background-size: 60%;
    transform: scaleX(-1);
    top: -244px;
    left: -76px;
}